
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    width: 1000px;
    margin: auto;
}

nav {
    background: #1A1A1A;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #126d9b;
}

nav ul li ul {
    border-bottom: 5px solid #F4A460;
    display: none;
    position: absolute;
    width: 250px;
}

nav ul li ul li {
    border-top: 1px solid #444;
    display: block;
}

nav ul li ul li:first-child {
    border-top: none;
}

nav ul li ul li a {
    background: #373737;
    display: block;
    padding: 10px 14px;
}

.sub-menu a:hover {
    background: black;
}

nav .fa.fa-angle-down {
    margin-left: 6px;
}

.member-bar {
    float: right;
}

.member-bar > span {
    color: white;
}

.sub-menu {
    z-index: 200;
}


/*동적 CSS*/
.fas fa-chevron-down {
    color: white;
}

.arrow-sub-menu-box a:hover {
    background: black;
}

.member-login-bar {
    margin-left: 300px;
}