/*인트로 섹션*/

#intro .intro-first-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}
/*인트로 4개 사진 부분*/
#intro .col-4:nth-of-type(1) .intro-first-card {
    background-image: url('./static/images/Javascript.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#intro .col-4:nth-of-type(2) .intro-first-card {
    background-image: url('../images/intro/intro2.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#intro .col-4:nth-of-type(3) .intro-first-card {
    background-image: url('../images/intro/intro3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#intro .col-4:nth-of-type(4) .intro-first-card {
    background-image: url('../images/intro/intro4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#intro .col-4:hover {
    transform:  translateY(-0.8rem);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


#intro .intro-first-card .overlay {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
}

#intro .intro-first-card .overlay a {
    transition: hover 0.4s ease;
}

#intro .intro-first-card .overlay a:hover {
    color: red;
}

