<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper 선언 끝-->

<!-- Mapper 실행 코드 시작-->
<mapper namespace="com.example.boarder.boarder.freeboarder.mapper.IBoarderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="boarder_number">
        INSERT INTO BOARDER(title,
                            author,
                            created_table_date,
                            post_content,
                            membership_id,
                            view_count)
        VALUES (#{title},
                #{author},
                #{created_table_date},
                #{post_content},
                #{membership_id},
                #{view_count})
    </insert>

    <resultMap id="freeBoarderMap" type="com.example.boarder.domain.FreeBoarder">
        <id property="boarder_number" column="BOARDER_NUMBER"></id>
        <result property="title" column="TITLE"></result>
        <result property="author" column="AUTHOR"></result>
        <result property="created_table_date" column="CREATED_TABLE_DATE"></result>
        <result property="view_count" column="VIEW_COUNT"></result>
        <result property="post_content" column="POST_CONTENT"></result>
        <result property="membership_id" column="MEMBERSHIP_ID"></result>
    </resultMap>

    <select id="findAllBoarder" resultMap="freeBoarderMap">
        SELECT boarder_number,
        title,
        author,
        created_table_date,
        view_count,
        post_content,
        membership_id
        FROM BOARDER
        <where>
            <if test="searchBoarder.title != null and searchBoarder.title != ''">
                AND title LIKE '%' || #{searchBoarder.title} || '%'
            </if>
        </where>
        ORDER BY boarder_number ASC
    </select>

    <select id="findByBoarder" resultMap="freeBoarderMap">
        SELECT BOARDER_NUMBER,
               TITLE,
               AUTHOR,
               CREATED_TABLE_DATE,
               VIEW_COUNT,
               POST_CONTENT,
               MEMBERSHIP_ID
        FROM BOARDER
        WHERE BOARDER_NUMBER = #{boarder_number}
    </select>

    <update id="updateBoarder">
        UPDATE
            BOARDER
        SET TITLE        = #{boarderDTO.title},
            POST_CONTENT = #{boarderDTO.post_content}
        WHERE BOARDER_NUMBER = #{boarder_number}
    </update>

    <update id="updateViewCount">
        UPDATE BOARDER
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE BOARDER_NUMBER = #{boarderNumber}
    </update>
</mapper>
