<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 만들기</title>

    <!-- css  -->
    <link rel="stylesheet" href="/static/css/mainHome.css"
          th:href="@{/css/mainHome.css}">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <!-- css  -->

    <!-- Javascript -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script defer src="/static/js/mainHomeJS.js" th:src="@{/js/mainHomeJS.js}"></script>
    <!-- Javascript -->

</head>


<body>
<nav>
    <div class="container">
        <ul class="menubar">
            <li><a href="#" class="main-menu">Home</a></li>
            <li><a href="#" class="main-menu">About Us</a></li>
            <li><a href="#" class="main-menu">Categories<i class='fa fa-angle-down'></i></a>
                <ul class="sub-menu">
                    <li><a href="#">Category One</a></li>
                    <li><a href="#">Category Two</a></li>
                    <li><a href="#">Category Three</a></li>
                </ul>
            </li>
            <li class="main-menu"><a href="#">Services<i class='fa fa-angle-down'></i></a>
                <ul class="sub-menu">
                    <li><a href="#">Service One</a></li>
                    <li><a href="#">Service Two</a></li>
                    <li><a href="#">Service Three</a></li>
                    <li><a href="#">Service Four</a></li>
                    <li><a href="#">Service Five</a></li>
                    <li><a href="#">Service Six</a></li>
                </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</nav>
</body>
</html>