<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- ::title -->
    <title>자유 게시판</title>


    <!-- ::link  -->
    <link rel="stylesheet" type="text/css" href="/css/mainHome.css"
          th:href="@{/css/mainHome.css}">

    <!-- ::script   -->
    <script src="/js/mainHome.js"
            th:src="@{/js/mainHome.js}"></script>

</head>
<body>

<!-- ::content => section   -->
<section>

</section>
</body>
</html>